{{setTitle 'SneakersParadise | Profile'}}

    <section class="added-sneakers">
        <div class="wrap">
            <h3>Added Sneakers</h3>
            <div class="sneakers-list">
                {{#each ownSneakers}}  
                <div class="sneaker">
                    <img src="{{this.image}}">
                    <p><strong>Brand:</strong> {{this.brand}}</p>
                    <p><strong>Model:</strong> {{this.model}}</p>
                    <a href="/sneakers/{{this._id}}/details" class="btn">View Details</a>
                </div>
                {{else}}       
                <p class="no-post">You haven't added a sneakers post yet</p>
                {{/each}}
            </div>
        </div>
    </section>
    
    <section class="preffered-snekares">
        <div class="wrap">
            <h3>Preferred Shoes</h3>
            <div class="sneakers-list">
                {{#each preferredSneakers}} 
                <div class="sneaker">
                    <img src="{{this.image}}">
                    <p><strong>Brand:</strong> {{this.brand}}</p>
                    <p><strong>Model:</strong> {{this.model}}</p>
                    <a href="/sneakers/{{this._id}}/details" class="btn">View Details</a>
                </div>
                {{else}}      
                <p class="no-post">You haven't preferred any sneakers yet</p>
                {{/each}}
            </div>
        </div>
    </section>

    