{{setTitle 'SneakersParadise | Catalog'}}

    <section class="catalog">
        <h2 class="heading-catalog">Catalog</h2>
        <div class="wrap">
            <div class="sneaker-catalog">
            {{#each sneakers}}                
                <div class="sneakers-item">
                    <img src="{{this.image}}">
                    <div>
                        <h3>{{this.brand}} ({{this.model}})</h3>
                        <h2>${{this.price}}</h2>
                        <p>Condition: {{this.condition}}</p>
                        <p>Model Year: {{this.year}}</p>
                        <p>Size: {{this.size}}</p>
                        <a href="/sneakers/{{this._id}}/details" class="btn">View Details</a>
                    </div>
                </div>
                {{else}}                
                <p class="no-post">There haven't been any sneakers posted yet.</p>
                {{/each}}
            </div>
        </div>
    </section>

